<!DOCTYPE html>
<html>
  <head>
    <title>REST API Info Page</title>
    <h1>Password Recovery REST API Endpoint</h1>
    <p>Send POST request to /api/password_recovery endpoint.</p>
  </head>
  <body>
    <p>Your request should be JSON data that contains 3 fields. (username, reset-code, new-password)</p>
    <p>reset-code should be 4 digit integer. Others are strings.</p>
    <p>reset-code is not unique.</p>
    <p>Sample usage of a REST API from Postman is provided below:</p>
    <img src="{{url_for('static', filename='passwordrecovery.jpg')}}" />
  </body>
</html>
